In [1]:
#Import dependencies
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import re

In [2]:
# Importing csv files to create dataframe
movie_data = "data/movies.csv"
movies_df = pd.read_csv(movie_data)
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [3]:
# Importing csv files to create dataframe
ratings_data = "data/ratings.csv"
ratings_df = pd.read_csv(ratings_data)
ratings_df["timestamp"]=pd.to_datetime(ratings_df["timestamp"],unit='s')
ratings_df

          userId  movieId  rating           timestamp
0              1      296     5.0 2006-05-17 15:34:04
1              1      306     3.5 2006-05-17 12:26:57
2              1      307     5.0 2006-05-17 12:27:08
3              1      665     5.0 2006-05-17 15:13:40
4              1      899     3.5 2006-05-17 12:21:50
...          ...      ...     ...                 ...
25000090  162541    50872     4.5 2009-04-28 21:16:12
25000091  162541    55768     2.5 2009-04-28 20:53:18
25000092  162541    56176     2.0 2009-04-28 20:31:37
25000093  162541    58559     4.0 2009-04-28 21:17:14
25000094  162541    63876     5.0 2009-04-28 21:01:55

[25000095 rows x 4 columns]

In [4]:
# Importing tags csv files to create dataframe
tags_data = "data/tags.csv"
tags_df = pd.read_csv(tags_data)
tags_df["timestamp"]=pd.to_datetime(tags_df["timestamp"],unit='s')
tags_df

         userId  movieId                  tag           timestamp
0             3      260              classic 2015-08-13 13:25:55
1             3      260               sci-fi 2015-08-13 13:24:16
2             4     1732          dark comedy 2019-11-16 22:33:18
3             4     1732       great dialogue 2019-11-16 22:33:24
4             4     7569     so bad it's good 2019-11-16 22:30:55
...         ...      ...                  ...                 ...
1093355  162521    66934  Neil Patrick Harris 2015-03-25 19:26:51
1093356  162521   103341     cornetto trilogy 2015-03-25 19:20:59
1093357  162534   189169               comedy 2018-05-28 14:36:15
1093358  162534   189169             disabled 2018-05-28 14:36:21
1093359  162534   189169              robbery 2018-05-28 14:36:33

[1093360 rows x 4 columns]

## Combining the three datasets to a single dataset

In [5]:
user_movies_ratings_combined_df=pd.merge(movies_df,ratings_df,on="movieId",how="inner")
user_movies_ratings_combined_df.rename(columns={"timestamp":"rating_timestamp"},inplace=True)
user_movies_ratings_combined_df

,movieId,title,genres,userId,rating,rating_timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,3.5,2006-03-03 19:57:00
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,2015-08-13 13:23:35
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4,3.0,2019-11-16 22:44:12
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1997-03-17 19:12:29
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,1998-03-21 15:01:57
...,...,...,...,...,...,...
25000090,209157,We (2018),Drama,119571,1.5,2019-11-20 20:12:28
25000091,209159,Window of the Soul (2001),Documentary,115835,3.0,2019-11-20 20:16:25
25000092,209163,Bad Poems (2018),Comedy|Drama,6964,4.5,2019-11-20 21:21:53
25000093,209169,A Girl Thing (2001),(no genres listed),119571,3.0,2019-11-20 23:17:06
25000094,209171,Women of Devil's Island (1962),Action|Adventure|Drama,119571,3.0,2019-11-20 23:18:57

In [6]:
movies_ratings_tags_combined_df=pd.merge(user_movies_ratings_combined_df,tags_df,on=["movieId","userId"],how="left")
movies_ratings_tags_combined_df.rename(columns={"timestamp":"tags_timestamp"},inplace=True)
movies_ratings_tags_combined_df

,movieId,title,genres,userId,rating,rating_timestamp,tag,tags_timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,3.5,2006-03-03 19:57:00,NaN,NaT
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,2015-08-13 13:23:35,NaN,NaT
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4,3.0,2019-11-16 22:44:12,NaN,NaT
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1997-03-17 19:12:29,NaN,NaT
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,1998-03-21 15:01:57,NaN,NaT
...,...,...,...,...,...,...,...,...
25624096,209157,We (2018),Drama,119571,1.5,2019-11-20 20:12:28,NaN,NaT
25624097,209159,Window of the Soul (2001),Documentary,115835,3.0,2019-11-20 20:16:25,NaN,NaT
25624098,209163,Bad Poems (2018),Comedy|Drama,6964,4.5,2019-11-20 21:21:53,NaN,NaT
25624099,209169,A Girl Thing (2001),(no genres listed),119571,3.0,2019-11-20 23:17:06,NaN,NaT
25624100,209171,Women of Devil's Island (1962),Action|Adventure|Drama,119571,3.0,2019-11-20 23:18:57,NaN,NaT

In [7]:
movies_ratings_tags_combined_df[movies_ratings_tags_combined_df["tag"].isna()]

,movieId,title,genres,userId,rating,rating_timestamp,tag,tags_timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,3.5,2006-03-03 19:57:00,NaN,NaT
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,2015-08-13 13:23:35,NaN,NaT
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4,3.0,2019-11-16 22:44:12,NaN,NaT
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1997-03-17 19:12:29,NaN,NaT
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,1998-03-21 15:01:57,NaN,NaT
...,...,...,...,...,...,...,...,...
25624096,209157,We (2018),Drama,119571,1.5,2019-11-20 20:12:28,NaN,NaT
25624097,209159,Window of the Soul (2001),Documentary,115835,3.0,2019-11-20 20:16:25,NaN,NaT
25624098,209163,Bad Poems (2018),Comedy|Drama,6964,4.5,2019-11-20 21:21:53,NaN,NaT
25624099,209169,A Girl Thing (2001),(no genres listed),119571,3.0,2019-11-20 23:17:06,NaN,NaT
25624100,209171,Women of Devil's Island (1962),Action|Adventure|Drama,119571,3.0,2019-11-20 23:18:57,NaN,NaT

Data Integrity Check

In [8]:
#checking data integrity
movies_df.nunique()

movieId    62423
title      62325
genres      1639
dtype: int64

In [9]:
movies_df.count()

movieId    62423
title      62423
genres     62423
dtype: int64

In [ ]:
#checking data integrity
#ratings_df.nunique()

In [ ]:
#ratings_df.count()

Data Transformation

In [10]:
movie_avg_rating=ratings_df.groupby("movieId").agg({"rating":"mean"}).reset_index()

In [11]:
movie_avg_rating.head()

   movieId    rating
0        1  3.893708
1        2  3.251527
2        3  3.142028
3        4  2.853547
4        5  3.058434

In [12]:
movies_df=movies_df.merge(movie_avg_rating,on="movieId",how="left")

In [13]:
def find_year(input_string):
    try:
        x=re.search(r"\(\d\d\d\d\)",input_string)
        year=str(x.group(0))
        year=year.replace('(','')
        year=year.replace(')','')
        return year
    except:
        return "-1"

In [14]:
#Creating column with year of movie
movies_df['year'] = movies_df['title'].apply(find_year)
movies_df['year'].unique()
#movies_df[movies_df['year'].isna()]
#movies_df=movies_df.fillna(-1)

array(['1995', '1994', '1996', '1976', '1992', '1988', '1967', '1993',
       '1964', '1977', '1965', '1982', '1990', '1991', '1989', '1937',
       '1940', '1969', '1981', '1973', '1970', '1960', '1955', '1959',
       '1968', '1980', '1975', '1986', '1948', '1943', '1950', '1946',
       '1987', '1997', '1974', '1956', '1958', '1949', '1972', '1998',
       '1933', '1952', '1951', '1957', '1961', '1954', '1934', '1944',
       '1963', '1942', '1941', '1953', '1939', '1947', '1945', '1938',
       '1935', '1936', '1926', '1932', '1985', '1979', '1971', '1978',
       '1966', '1962', '1983', '1984', '1931', '1922', '1999', '1927',
       '1929', '1930', '1928', '1925', '1914', '2000', '1919', '1923',
       '1920', '1918', '1921', '2001', '1924', '2002', '2003', '1915',
       '2004', '1916', '1917', '2005', '2006', '1902', '1903', '2007',
       '2008', '2009', '1912', '2010', '-1', '1913', '2011', '1898',
       '1899', '1894', '2012', '1910', '2013', '1896', '2014', '2015',
       '1895', '1909', '1911', '1900', '2016', '2017', '2018', '2019',
       '1905', '1904', '1891', '1892', '1908', '1897', '1887', '1888',
       '1890', '1878', '1874', '1901', '1907', '1906', '1883', '1880'],
      dtype=object)

In [15]:
movies_df.rename(columns={"rating":"avg_user_rating"},inplace=True)

In [16]:
movies_df["avg_user_rating"]=movies_df["avg_user_rating"].fillna(-1)

In [17]:
movies_df["genres"]=movies_df["genres"].str.replace('|',' ')
movies_df

,movieId,title,genres,avg_user_rating,year
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,3.893708,1995
1,2,Jumanji (1995),Adventure Children Fantasy,3.251527,1995
2,3,Grumpier Old Men (1995),Comedy Romance,3.142028,1995
3,4,Waiting to Exhale (1995),Comedy Drama Romance,2.853547,1995
4,5,Father of the Bride Part II (1995),Comedy,3.058434,1995
...,...,...,...,...,...
62418,209157,We (2018),Drama,1.500000,2018
62419,209159,Window of the Soul (2001),Documentary,3.000000,2001
62420,209163,Bad Poems (2018),Comedy Drama,4.500000,2018
62421,209169,A Girl Thing (2001),(no genres listed),3.000000,2001
62422,209171,Women of Devil's Island (1962),Action Adventure Drama,3.000000,1962

In [18]:
#renaming (no genres listed) to 
movies_df = movies_df.replace('(no genres listed)', 'UnKnown')
movies_df

,movieId,title,genres,avg_user_rating,year
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,3.893708,1995
1,2,Jumanji (1995),Adventure Children Fantasy,3.251527,1995
2,3,Grumpier Old Men (1995),Comedy Romance,3.142028,1995
3,4,Waiting to Exhale (1995),Comedy Drama Romance,2.853547,1995
4,5,Father of the Bride Part II (1995),Comedy,3.058434,1995
...,...,...,...,...,...
62418,209157,We (2018),Drama,1.500000,2018
62419,209159,Window of the Soul (2001),Documentary,3.000000,2001
62420,209163,Bad Poems (2018),Comedy Drama,4.500000,2018
62421,209169,A Girl Thing (2001),UnKnown,3.000000,2001
62422,209171,Women of Devil's Island (1962),Action Adventure Drama,3.000000,1962

In [19]:
# Creating a column combining all the features
movies_df['comb']=movies_df['genres']+' '+movies_df['avg_user_rating'].round(4).map(str)#+' '+movies_df['year'].map(str)
#movies_df['genres']+' '+' '+str(movies_df['year'])+' '+str(movies_df['avg_user_rating'])

In [20]:
movies_df[movies_df['comb'].isna()]

Empty DataFrame
Columns: [movieId, title, genres, avg_user_rating, year, comb]
Index: []

In [21]:
movies_df

,movieId,title,genres,avg_user_rating,year,comb
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,3.893708,1995,Adventure Animation Children Comedy Fantasy 3....
1,2,Jumanji (1995),Adventure Children Fantasy,3.251527,1995,Adventure Children Fantasy 3.2515
2,3,Grumpier Old Men (1995),Comedy Romance,3.142028,1995,Comedy Romance 3.142
3,4,Waiting to Exhale (1995),Comedy Drama Romance,2.853547,1995,Comedy Drama Romance 2.8535
4,5,Father of the Bride Part II (1995),Comedy,3.058434,1995,Comedy 3.0584
...,...,...,...,...,...,...
62418,209157,We (2018),Drama,1.500000,2018,Drama 1.5
62419,209159,Window of the Soul (2001),Documentary,3.000000,2001,Documentary 3.0
62420,209163,Bad Poems (2018),Comedy Drama,4.500000,2018,Comedy Drama 4.5
62421,209169,A Girl Thing (2001),UnKnown,3.000000,2001,UnKnown 3.0
62422,209171,Women of Devil's Island (1962),Action Adventure Drama,3.000000,1962,Action Adventure Drama 3.0

In [22]:
movies_df["comb"]

0        Adventure Animation Children Comedy Fantasy 3....
1                        Adventure Children Fantasy 3.2515
2                                     Comedy Romance 3.142
3                              Comedy Drama Romance 2.8535
4                                            Comedy 3.0584
                               ...
62418                                            Drama 1.5
62419                                      Documentary 3.0
62420                                     Comedy Drama 4.5
62421                                          UnKnown 3.0
62422                           Action Adventure Drama 3.0
Name: comb, Length: 62423, dtype: object

In [ ]:
movies_df.to_csv("data/updated_movies.csv")

In [ ]:
movies_ratings_tags_combined_df.to_csv("data/alldata.csv")

In [ ]:
#res = pd.get_dummies(movies_df['genres'].str.split(' ').apply(pd.Series).stack()).sum(level=0)
#res

In [ ]:
#movies_genre_rating_df=pd.concat([movies_df,res],axis=1)
#movies_genre_rating_df

In [23]:
samples_movie_df=movies_df.loc[1:1000,:]

In [24]:
samples_movie_df

,movieId,title,genres,avg_user_rating,year,comb
1,2,Jumanji (1995),Adventure Children Fantasy,3.251527,1995,Adventure Children Fantasy 3.2515
2,3,Grumpier Old Men (1995),Comedy Romance,3.142028,1995,Comedy Romance 3.142
3,4,Waiting to Exhale (1995),Comedy Drama Romance,2.853547,1995,Comedy Drama Romance 2.8535
4,5,Father of the Bride Part II (1995),Comedy,3.058434,1995,Comedy 3.0584
5,6,Heat (1995),Action Crime Thriller,3.854909,1995,Action Crime Thriller 3.8549
...,...,...,...,...,...,...
996,1019,"20,000 Leagues Under the Sea (1954)",Adventure Drama Sci-Fi,3.544120,1954,Adventure Drama Sci-Fi 3.5441
997,1020,Cool Runnings (1993),Comedy,3.258671,1993,Comedy 3.2587
998,1021,Angels in the Outfield (1994),Children Comedy,2.824153,1994,Children Comedy 2.8242
999,1022,Cinderella (1950),Animation Children Fantasy Musical Romance,3.556909,1950,Animation Children Fantasy Musical Romance 3.5569
1000,1023,Winnie the Pooh and the Blustery Day (1968),Animation Children Musical,3.736026,1968,Animation Children Musical 3.736

In [25]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

#tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
#tfidf_matrix = tf.fit_transform(samples_movie_df['genres'])
#print(tfidf_matrix)

cv = CountVectorizer()
count_matrix = cv.fit_transform(samples_movie_df['genres'])
print(count_matrix)
#creating a similarity score matrix
sim = cosine_similarity(count_matrix)
print(sim)
#print(movies_df['comb'])

  (0, 1)	1
  (0, 3)	1
  (0, 8)	1
  (1, 4)	1
  (1, 16)	1
  (2, 4)	1
  (2, 16)	1
  (2, 7)	1
  (3, 4)	1
  (4, 0)	1
  (4, 5)	1
  (4, 18)	1
  (5, 4)	1
  (5, 16)	1
  (6, 1)	1
  (6, 3)	1
  (7, 0)	1
  (8, 1)	1
  (8, 0)	1
  (8, 18)	1
  (9, 4)	1
  (9, 16)	1
  (9, 7)	1
  (10, 4)	1
  (10, 11)	1
  :	:
  (991, 1)	1
  (991, 3)	1
  (991, 7)	1
  (992, 3)	1
  (992, 4)	1
  (993, 1)	1
  (993, 3)	1
  (994, 3)	1
  (994, 4)	1
  (994, 14)	1
  (995, 1)	1
  (995, 7)	1
  (995, 17)	1
  (995, 9)	1
  (996, 4)	1
  (997, 3)	1
  (997, 4)	1
  (998, 3)	1
  (998, 8)	1
  (998, 16)	1
  (998, 2)	1
  (998, 13)	1
  (999, 3)	1
  (999, 2)	1
  (999, 13)	1
[[1.         0.         0.         ... 0.40824829 0.51639778 0.33333333]
 [0.         1.         0.81649658 ... 0.5        0.31622777 0.        ]
 [0.         0.81649658 1.         ... 0.40824829 0.25819889 0.        ]
 ...
 [0.40824829 0.5        0.40824829 ... 1.         0.31622777 0.40824829]
 [0.51639778 0.31622777 0.25819889 ... 0.31622777 1.         0.77459667]
 [0.33333333 0.         0.         ... 0.40824829 0.77459667 1.        ]]

In [ ]:
#samples_movie_df["genres_factor"]=list(tfidf_matrix)

In [ ]:
#df1 = pd.DataFrame(tfidf_matrix.toarray(), columns=tf.get_feature_names())
#df1

In [ ]:
#list(tfidf_matrix)

In [26]:
samples_movie_df.head()

,movieId,title,genres,avg_user_rating,year,comb
1,2,Jumanji (1995),Adventure Children Fantasy,3.251527,1995,Adventure Children Fantasy 3.2515
2,3,Grumpier Old Men (1995),Comedy Romance,3.142028,1995,Comedy Romance 3.142
3,4,Waiting to Exhale (1995),Comedy Drama Romance,2.853547,1995,Comedy Drama Romance 2.8535
4,5,Father of the Bride Part II (1995),Comedy,3.058434,1995,Comedy 3.0584
5,6,Heat (1995),Action Crime Thriller,3.854909,1995,Action Crime Thriller 3.8549

In [45]:
# Build a 1-dimensional array with movie titles
indices = pd.Series(samples_movie_df.index, index=samples_movie_df['title'])

# Function that get movie recommendations based on the cosine similarity score of movie genres
def genre_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:21] 
    movie_indices = [i[0] for i in sim_scores]
return list(samples_movie_df.iloc[recommended_movies[0:10]]["title"])

In [28]:
import pickle

In [30]:
pickle.dump(sim,open("content-model.pckl","wb"))

In [37]:
pickle.dump(samples_movie_df,open("movie_df.pckl","wb"))

In [31]:
loaded_sim=pickle.load(open("content-model.pckl","rb"))

In [38]:
loaded_df=pickle.load(open("movie_df.pckl","rb"))

In [35]:
loaded_sim[0]

array([1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.81649658, 0.        , 0.33333333, 0.        ,
       0.        , 0.66666667, 0.        , 0.33333333, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.40824829, 0.        , 0.47140452, 0.        , 0.        ,
       0.        , 0.33333333, 0.40824829, 0.        , 0.        ,
       0.        , 0.40824829, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.66666667, 0.        , 0.        ,
       0.        , 0.25819889, 0.        , 0.        , 0.        ,
       0.        , 0.40824829, 0.40824829, 0.        , 0.8660254 ,
       0.        , 0.        , 0.        , 1.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.40824829, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.33333333,
       0.40824829, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.33333333, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.28867513, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.57735027,
       0.        , 0.        , 0.        , 0.        , 0.28867513,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.33333333, 0.        , 0.        ,
       0.        , 0.        , 0.        , 1.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.81649658, 0.        ,
       0.        , 0.        , 0.33333333, 0.        , 0.        ,
       0.28867513, 0.        , 0.33333333, 0.        , 0.        ,
       0.81649658, 0.        , 0.25819889, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.66666667, 0.28867513, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.40824829, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.33333333, 0.40824829, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.40824829, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.28867513, 0.        , 0.        , 0.        , 0.28867513,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.40824829, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.81649658,
       0.28867513, 0.        , 0.40824829, 0.        , 0.66666667,
       0.40824829, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.40824829, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.77459667,
       0.        , 0.28867513, 0.        , 0.40824829, 0.        ,
       0.        , 0.33333333, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.40824829, 0.57735027,
       0.        , 0.28867513, 0.33333333, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.28867513, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.33333333,
       0.        , 0.        , 0.57735027, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.28867513, 0.        , 0.66666667,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.66666667, 0.        , 0.47140452, 0.        ,
       0.        , 0.28867513, 0.33333333, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.40824829, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.25819889,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.40824829, 0.66666667, 0.        , 0.33333333,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.40824829,
       0.        , 0.        , 0.        , 0.        , 0.66666667,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.66666667, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.33333333, 0.        , 0.33333333, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.28867513, 0.40824829, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.66666667,
       0.        , 0.        , 0.        , 0.23570226, 0.        ,
       0.        , 0.40824829, 0.        , 0.28867513, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.25819889,
       0.        , 0.        , 0.        , 0.81649658, 0.57735027,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.33333333, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.33333333, 0.        , 0.        , 0.        ,
       0.33333333, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.40824829, 0.        , 0.57735027, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.65465367,
       0.33333333, 0.        , 0.        , 0.        , 0.57735027,
       0.28867513, 0.        , 0.        , 0.        , 0.        ,
       0.77459667, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.40824829, 0.        , 0.66666667,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.40824829, 0.25819889, 0.51639778,
       0.        , 0.33333333, 0.        , 0.        , 0.        ,
       0.51639778, 0.47140452, 0.57735027, 0.        , 0.40824829,
       0.40824829, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.40824829, 0.        , 0.        ,
       0.81649658, 0.23570226, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.40824829, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.70710678, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.66666667, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.28867513, 0.        , 0.        , 0.        ,
       0.        , 0.66666667, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.77459667,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.65465367, 0.28867513, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.28867513, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.40824829, 0.        ,
       0.        , 0.        , 0.        , 0.51639778, 0.        ,
       0.81649658, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.28867513, 0.        , 0.33333333,
       0.        , 0.        , 0.        , 0.28867513, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.33333333, 0.        , 0.        ,
       0.28867513, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.33333333, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.81649658, 0.40824829, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.40824829,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.25819889, 0.        ,
       0.        , 0.25819889, 0.        , 0.        , 0.        ,
       0.        , 0.25819889, 0.        , 0.        , 0.        ,
       0.57735027, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.28867513, 0.        , 0.        , 0.40824829,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.81649658, 0.40824829, 0.66666667, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.81649658,
       0.33333333, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.33333333, 0.66666667, 0.        ,
       0.        , 0.40824829, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.25819889, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.40824829, 0.        , 0.        , 0.66666667,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.28867513, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.25819889, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.40824829, 0.        , 0.8660254 , 0.        , 0.        ,
       0.        , 0.        , 0.28867513, 0.33333333, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.33333333, 0.57735027,
       0.        , 0.33333333, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.40824829, 0.57735027, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.28867513, 0.25819889, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.81649658, 0.        ,
       0.        , 0.        , 0.33333333, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.40824829, 0.        , 0.33333333, 0.40824829,
       1.        , 0.40824829, 0.57735027, 0.40824829, 0.33333333,
       0.33333333, 0.66666667, 0.40824829, 0.81649658, 0.33333333,
       0.28867513, 0.        , 0.40824829, 0.51639778, 0.33333333])

In [36]:
sim[0]

array([1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.81649658, 0.        , 0.33333333, 0.        ,
       0.        , 0.66666667, 0.        , 0.33333333, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.40824829, 0.        , 0.47140452, 0.        , 0.        ,
       0.        , 0.33333333, 0.40824829, 0.        , 0.        ,
       0.        , 0.40824829, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.66666667, 0.        , 0.        ,
       0.        , 0.25819889, 0.        , 0.        , 0.        ,
       0.        , 0.40824829, 0.40824829, 0.        , 0.8660254 ,
       0.        , 0.        , 0.        , 1.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.40824829, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.33333333,
       0.40824829, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.33333333, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.28867513, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.57735027,
       0.        , 0.        , 0.        , 0.        , 0.28867513,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.33333333, 0.        , 0.        ,
       0.        , 0.        , 0.        , 1.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.81649658, 0.        ,
       0.        , 0.        , 0.33333333, 0.        , 0.        ,
       0.28867513, 0.        , 0.33333333, 0.        , 0.        ,
       0.81649658, 0.        , 0.25819889, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.66666667, 0.28867513, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.40824829, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.33333333, 0.40824829, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.40824829, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.28867513, 0.        , 0.        , 0.        , 0.28867513,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.40824829, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.81649658,
       0.28867513, 0.        , 0.40824829, 0.        , 0.66666667,
       0.40824829, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.40824829, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.77459667,
       0.        , 0.28867513, 0.        , 0.40824829, 0.        ,
       0.        , 0.33333333, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.40824829, 0.57735027,
       0.        , 0.28867513, 0.33333333, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.28867513, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.33333333,
       0.        , 0.        , 0.57735027, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.28867513, 0.        , 0.66666667,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.66666667, 0.        , 0.47140452, 0.        ,
       0.        , 0.28867513, 0.33333333, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.40824829, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.25819889,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.40824829, 0.66666667, 0.        , 0.33333333,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.40824829,
       0.        , 0.        , 0.        , 0.        , 0.66666667,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.66666667, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.33333333, 0.        , 0.33333333, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.28867513, 0.40824829, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.66666667,
       0.        , 0.        , 0.        , 0.23570226, 0.        ,
       0.        , 0.40824829, 0.        , 0.28867513, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.25819889,
       0.        , 0.        , 0.        , 0.81649658, 0.57735027,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.33333333, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.33333333, 0.        , 0.        , 0.        ,
       0.33333333, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.40824829, 0.        , 0.57735027, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.65465367,
       0.33333333, 0.        , 0.        , 0.        , 0.57735027,
       0.28867513, 0.        , 0.        , 0.        , 0.        ,
       0.77459667, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.40824829, 0.        , 0.66666667,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.40824829, 0.25819889, 0.51639778,
       0.        , 0.33333333, 0.        , 0.        , 0.        ,
       0.51639778, 0.47140452, 0.57735027, 0.        , 0.40824829,
       0.40824829, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.40824829, 0.        , 0.        ,
       0.81649658, 0.23570226, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.40824829, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.70710678, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.66666667, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.28867513, 0.        , 0.        , 0.        ,
       0.        , 0.66666667, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.77459667,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.65465367, 0.28867513, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.28867513, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.40824829, 0.        ,
       0.        , 0.        , 0.        , 0.51639778, 0.        ,
       0.81649658, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.28867513, 0.        , 0.33333333,
       0.        , 0.        , 0.        , 0.28867513, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.33333333, 0.        , 0.        ,
       0.28867513, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.33333333, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.81649658, 0.40824829, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.40824829,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.25819889, 0.        ,
       0.        , 0.25819889, 0.        , 0.        , 0.        ,
       0.        , 0.25819889, 0.        , 0.        , 0.        ,
       0.57735027, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.28867513, 0.        , 0.        , 0.40824829,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.81649658, 0.40824829, 0.66666667, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.81649658,
       0.33333333, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.33333333, 0.66666667, 0.        ,
       0.        , 0.40824829, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.25819889, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.40824829, 0.        , 0.        , 0.66666667,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.28867513, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.25819889, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.40824829, 0.        , 0.8660254 , 0.        , 0.        ,
       0.        , 0.        , 0.28867513, 0.33333333, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.33333333, 0.57735027,
       0.        , 0.33333333, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.40824829, 0.57735027, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.28867513, 0.25819889, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.81649658, 0.        ,
       0.        , 0.        , 0.33333333, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.40824829, 0.        , 0.33333333, 0.40824829,
       1.        , 0.40824829, 0.57735027, 0.40824829, 0.33333333,
       0.33333333, 0.66666667, 0.40824829, 0.81649658, 0.33333333,
       0.28867513, 0.        , 0.40824829, 0.51639778, 0.33333333])

In [50]:
str(genre_recommendations(['Waiting to Exhale (1995)','Grumpier Old Men (1995)']))

"['Four Rooms (1995)', 'Ace Ventura: When Nature Calls (1995)', 'Bio-Dome (1996)', 'Friday (1995)', 'Black Sheep (1996)', 'Mr. Wrong (1996)', 'Happy Gilmore (1996)', 'Happiness Is in the Field (Bonheur est dans le pré, Le) (1995)', 'Steal Big, Steal Little (1995)', 'Flirting With Disaster (1996)']"

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
from sklearn import preprocessing

In [ ]:
le = preprocessing.LabelEncoder()

In [ ]:
df_train_transformed=le.fit_transform(sample_movies_df["genres"])
df_train_transformed

In [ ]:
sample_movies_df["genre_encoded"]=pd.Series(df_train_transformed)

In [ ]:
sample_movies_df.head()

In [ ]:
X=["gender_encoded","year"]
Y=["title"]

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
sample_movies_df["genre_scaled"]=scaler.fit_transform(sample_movies_df["genre_encoded"].values.reshape(-1,1))
sample_movies_df["year_scaled"]=scaler.fit_transform(sample_movies_df["year"].astype("float").values.reshape(-1,1))

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
sample_movies_df["genre_encoded"]=scaler.fit_transform(sample_movies_df["genre_encoded"])

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

cv = CountVectorizer()
count_matrix = cv.fit_transform(sample_movies_df['comb'])
# creating a similarity score matrix
sim = cosine_similarity(count_matrix)
print(sim)
#print(movies_df['comb'])

In [ ]:
from sklearn import preprocessing

In [ ]:
le = preprocessing.LabelEncoder()

In [ ]:
le.fit(sample_movies_df[["genres","year"])

In [ ]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=4)